.App {
    text-align: center;
  }

  .body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #90ac9a;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.2);
    height: 5rem;
    opacity: 0.7;
  }
  .header img {
    padding-left: 1rem;
    width: 4rem;
    height: 3rem;
  }
  .header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font: Helvetica;
    

  }
  .register{
   
    
    border: black;
  }

  .card{
    border-radius: 1rem;
    margin-left: 35%;
    margin-top: 5%;
    padding-bottom: 3%;
    margin-right: 35%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    margin-bottom: 10%;
    opacity: 0.9;
  }
  .card input label {
    display: block;
  }

  .card form input {
    display: block;
    padding-bottom: 1%;
    width: 95%;
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
border-radius: 1rem;
  background-color: #ededee;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 1%;

    
  }

  .welcome{
    font-size: 200%;
    margin-top: 2%;
    background-color:#526057;
    margin-bottom: 2%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2%;
    border-radius: 2.5rem;
    color: white;
    opacity: 0.7;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  }

  .aux{
    
    width: 35% !important;
    margin-left: 30%;
    
  }

  .card form{
    margin-left: 10%;
    margin-right: 10%;

  }
  

  .btn {
    background-color:#526057 !important;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    color: white !important;
  }

  .card-title{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }


  .card-title h2 {
    color: rgb(58, 58, 58) ;
    font-family: Helvetica;
  }

  .introduction{
    
    margin-bottom: 2%;
  }

  .field {
    display: table-row-group;
  }

  .react-calendar{
    border-radius: 1rem;
   

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none !important;


  }

  .titlepage {
    position: relative;
	display: inline-block;
	padding: 5px 10px ;
	border-radius: 10px;
	border-bottom: 1px solid #526057;
  margin-left: 1%;

  }

  .ReactTable{
    border-radius: 1rem;
   

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .cardp{
    border-radius: 1rem;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 10%;

  }

  .react-calendar__tile--active {
    background: #526057 !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.buttonlist{
  border: none;
  background-color: white;
  width: 60%;
  align-self: center;
  padding-left: 45%;

}

.buttonlist img {
  width: 100%;
 
}

.f{
  margin-left: 30% !important;
}

.cardcitae{
  border-radius: 1rem; 
  margin-left: 5%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-right: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10%;
  width: 75%;
}

.registroeinsert{
  width: 60%;
}

.entreno{
  border-radius: 1rem; 
  margin-left: 5%;
  margin-top: 2%;
  padding-bottom: 3%;
  margin-right: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10%;
  width: 75%;
  height:45rem;
}

.registronlist{
  width: 25%;
  margin-top: 3%;
  padding-right: 0px !important;
}

.registroninsert{
  width: 90%;
  display: contents;
}

.reacttableaux{
  width: 114% !important;
  padding-right: 0px !important;
}

.sesionentreno{
  width: 115% !important;
  float: left !important;

  margin-left: 1% !important;

  margin-right: 2% !important;

}

.sesionentrenof{
  display: table;
  /* width: 114px; */
  margin-left: 0.5%;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: 'Verdana', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .3em .8em;

  height: 38px;
	box-sizing: border-box;
width: 203px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}
.select-css option {
	font-weight:normal;
}


.classOfElementToColor:hover {background-color:red; color:black}

.logo{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.title{
  margin-top: 3%;
    /* display: contents; */
    float: right;
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@700;900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.panel1 { background-image:url(https://images.unsplash.com/photo-1506810487030-e7f94a5eef74?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1575&q=80); }
.panel2 { background-image:url(https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2768&q=80); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1517282009859-f000ec3b26fe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1534&q=80); }
.panel4 { background-image:url(https://images.unsplash.com/photo-1559836833-2a2c99b1f54f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1601&q=80); }

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel p {
  text-transform: uppercase;
  font-family: 'Roboto';
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

/* First text element */
.panel p:nth-child(1) {
  transform: translateY(-100%);
}

.panel.open-active p:nth-child(1) {
  transform: translateY(0);
}

/* Second text element - main text */
.panel p:nth-child(2) {
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  padding: 8px;
}

/* Third text element */
.panel p:nth-child(3) {
  transform: translateY(100%);
}

.panel.open-active p:nth-child(3) {
  transform: translateY(0);
}
    
.panel.open {
  flex: 5;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}

.login{
  background-image:url('./components/images/fondo2.png');
  height: 100%;
  display: flow-root;


}

.register{
  background-image:url('./components/images/fondo2.png');
  height: fit-content;
  display: flow-root;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}



#panele-one {
    background-image: url('./components/images/training.jpg');
}
#panele-two {
    background-image: url('./components/images/comida.jpg');
}
#panele-three {
    background-image: url('./components/images/citas.jpg');
}
#panele-four {
    background-image: url('./components/images/files.jpg');
}
#panele-five {
    background-image: url('./components/images/sesion.jpg');
}

#panele-five {
  background-image: url('./components/images/sesion.jpg');
}

#panele-six {
  background-image: url('./components/images/senutricionista.jpg');
}

#panele-seven {
  background-image: url('./components/images/entrenos.jpg');
}

.containere {
    display: flex;
    width: 90vw;
    margin-left: 5%;
    height: 70%;
}

.panele {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panele h2 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.panele.active {
    flex: 5;

}

.panele.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

@media(max-width: 480px) {
    .containere {
        width: 100vw;
    }

    .panele:nth-of-type(4), .panele:nth-of-type(5) {
        display: none;
    }
}


ul{
  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;  height: 450px;
}
ul::after{
  content: '';
  position: absolute;
  left: 0; top: 50%;
  width: 100%;   height: 100%;
  background: #fff;
  border-top: 5px solid rgba(0,0,0,.3);
}
ul li{
  list-style: none;
  position: absolute;
  top: 50%;  left: 50%;
  border-radius: 50%;
  border: 15px solid transparent;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
  animation: animate 5s infinite linear;
}
@keyframes animate{
  0%{
      transform: translate(-50%,-50%) rotate(45deg);
  }
  50%{
      transform: translate(-50%,-50%) rotate(calc(360deg + 45deg));
  }
  60%{
      transform: translate(-50%,-50%) rotate(calc(360deg + 45deg));
  }
  100%{
      transform: translate(-50%,-50%) rotate(45deg);
  }
}
ul li:nth-child(8){
  width: 40px;  height: 40px;
  border: none;
}
ul li:nth-child(1){
  width: calc(40px + (0 * 15px));  height: calc(40px + (0 * 15px));
  border-top: 15px solid #f00;
  border-left: 15px solid #f00;
  animation-delay: .1s;
}
ul li:nth-child(2){
  width: calc(40px + (2 * 15px));  height: calc(40px + (2 * 15px));
  border-top: 15px solid #e67e22;
  border-left: 15px solid #e67e22;
  animation-delay: .2s;
}
ul li:nth-child(3){
  width: calc(40px + (4 * 15px));  height: calc(40px + (4 * 15px));
  border-top: 15px solid #f1c40f;
  border-left: 15px solid #f1c40f;
  animation-delay: .3s;
}
ul li:nth-child(4){
  width: calc(40px + (6 * 15px));  height: calc(40px + (6 * 15px));
  border-top: 15px solid #2ecc71;
  border-left: 15px solid #2ecc71;
  animation-delay: .4s;
}
ul li:nth-child(5){
  width: calc(40px + (8 * 15px));  height: calc(40px + (8 * 15px));
  border-top: 15px solid #2980b9;
  border-left: 15px solid #2980b9;
  animation-delay: .5s;
}
ul li:nth-child(6){
  width: calc(40px + (10 * 15px));  height: calc(40px + (10 * 15px));
  border-top: 15px solid #2c3e50;
  border-left: 15px solid #2c3e50;
  animation-delay: .6s;
}
ul li:nth-child(7){
  width: calc(40px + (12 * 15px));  height: calc(40px + (12 * 15px));
  border-top: 15px solid #8e44ad;
  border-left: 15px solid #8e44ad;
  animation-delay: .7s;
}

.waiting{
  margin: 6%;
  font-size: 39px;
  color: gray;
  margin-left: 22%;
  margin-right: 22%;
  text-shadow: 0.5px 0.5px 9px #cacaca;
}

.rainbow{
  height: 32%;
  /* width: 49%; */
  margin-left: 11%;
  margin-right: 11%;
  box-shadow: 0 1px 16px 0 rgb(0 0 0 / 20%);
  border-radius: 1rem;
  z-index: 9999;
}

.inputcita{
  display: block;
    padding-bottom: 1%;
    width: 95%;
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
border-radius: 1rem;
  background-color: #ededee;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 1%;
}

.ucita{
  margin-left:35%;
  margin-right:35%;
}

.updatecita{
  margin-left: 3%;
}

