.App {
    text-align: center;
  }

  .body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #90ac9a;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    height: 5rem;
  }
  .header img {
    padding-left: 1rem;
    width: 5rem;
    height: 4rem;
  }
  .header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font: Helvetica;
    

  }
  .register{
   
    border-radius: 1rem;
    border: black;
  }

  .card{
    border-radius: 1rem;
   
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 3%;
    margin-right: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10%;
  }
  .card input label {
    display: block;
  }

  .card form input {
    display: block;
    padding-bottom: 1%;
    width: 95%;
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
border-radius: 1rem;
  background-color: #ededee;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 1%;

    
  }

  .aux{
    
    width: 35% !important;
    margin-left: 30%;
    
  }

  .card form{
    margin-left: 10%;
    margin-right: 10%;

  }
  

  .btn {
    background-color:#526057 !important;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    color: white !important;
  }

  .card-title{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }


  .card-title h2 {
    color: rgb(58, 58, 58) ;
    font-family: Helvetica;
  }

  .introduction{
    
    margin-bottom: 2%;
  }

  .field {
    display: table-row-group;
  }

  .react-calendar{
    border-radius: 1rem;
   

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none !important;


  }

  .titlepage {
    position: relative;
	display: inline-block;
	padding: 5px 10px ;
	border-radius: 10px;
	border-bottom: 1px solid #526057;
  margin-left: 1%;

  }

  .ReactTable{
    border-radius: 1rem;
   

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .cardp{
    border-radius: 1rem;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 10%;

  }

  .react-calendar__tile--active {
    background: #526057 !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.buttonlist{
  border: none;
  background-color: white;
  width: 60%;
  align-self: center;
  padding-left: 45%;

}

.buttonlist img {
  width: 100%;
 
}

.f{
  margin-left: 30% !important;
}