.bigCalendar-container {
    width: 20%;
}

.listado {
    width: 50%;
}

.row {
    padding: 1%;
    display: -block;
}

.cita{
    padding: 2%;
}

.create {
    width: 30%;
}

.cardcita{
    border-radius: 1rem;
   
 

    padding-bottom: 3%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10%;
  }
  .cardcita input label {
    display: block;
  }

  .cardcita form input {
    display: block;
    padding-bottom: 1%;
    width: 95%;
    
  }

  

  .cardcita form{
    margin-left: 10%;
    margin-right: 10%;

  }

  .cardcita-title{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }


  .cardcita-title h2 {
    color: rgb(58, 58, 58);
    font-family: Helvetica;
    font-size: 1.2vw;
    padding: 2%;


  }

  